html{
	font-size: 40px;
}
.post{
	max-width: 400px;
}

a{
	color: black;
	text-decoration: none;
}

.fun{
	background-image: linear-gradient(to right, #25b0a9 50%, #fee603 50%);
    background-size: 200%;
    transition: all .4s;
    background-position: 0%;
}
.fun:hover{
	background-position: -100%;
}