:root{
    --winWidth: 100%;
    --winHeight: 100vh;
}
html{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(96.8%, 96.8%, 96.8%);
    margin: 0;
    padding: 0;
    background-image: url("../image/GZ.jpg");
    background-size: cover;
}
.main{
    width: 100%;
}
.mask{
    width: 100vw;
    background-color: #DFC6AC;
    opacity: 0.6;
}

.card{
    width: 85%;
    border: 1px solid lightblue;
    background-color: white;
    margin: 0px auto;
    height: 600px;
    /**/
}

.city-info{
    width: 100%;
    background-image:  url("../image/GZ.jpg");
    background-size: cover;
}